.advantages {
  padding-top: 57px;

  &__title {
    text-align: center;
    margin-bottom: 25px;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 40px;
    margin-bottom: 40px;

    @media(max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__banner {
  }
}
