.banner {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;

  @media(max-width: 1024px) {
    grid-template-columns: 0% 100%;
    text-align: center;
  }

  &__column {
    margin: 0 auto;
  }

  &__img {
    @media(max-width: 1024px) {
      display: none;
    }
  }

  &__title {
    max-width: 533px;
    margin-bottom: 20px;
  }

  &__button {
    margin-bottom: 60px;
    font-size: 14px;
    font-weight: 900;
    border-radius: 0px;
    padding: 8px 12px;
  }
}
