.companies {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  &__wrapper {
    width: 166px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $white;
    border-radius: 20px;
  }

  &__img {
    text-align: center;
    width:max-content;
    height: max-content;
  }
  margin-bottom: 34px;
}

@media(max-width: 1024px) {
  .companies {

    &__wrapper {
      margin: 0 auto;
    }

    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 20px;
      column-gap: 20px;
      justify-content: center;
    }
  }
}

@media(max-width: 768px) {
  .companies {
    .container {
      max-width: max-content;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
