.gift {

  &__title {
    max-width: 660px;
    text-align: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 11px;
  }

  &__button {
    padding: 29px 68px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 40px;
  }
}
