.offer {
  position: relative;
  padding-bottom: 58px;

  &__container {
    display: flex;
    justify-content: space-between;

    @media(max-width: 1024px) {
      justify-content: center;
    }

  }

  &_perk {
  }

  &__column {
    @media(min-wudth: 1024px) {
      max-width: 622px;
      padding-top: 37px;
    }

  }

  &__perks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__perk {
  }

  &__title {
  }

  &__descr {
    margin-bottom: 40px;

    @media(min-width: 1024px) {
      max-width: 298px;
    }
  }

  &__cta {
    display: block;
    text-align: center;
    max-width: max-content;

    @media(max-width: 1024px) {
      margin: 0 auto;
    }

    .cta__button {
        max-width: 395px;
        display: block;
        margin-bottom: 13px;

        @media(max-width: 1024px) {
          max-width: 350px;
        }
    }

    .cta__text {
      display: block;
    }
  }
}

@media(max-width: 1024px) {
  .offer {
    &__title {
      text-align: center;
    }
    &__descr {
      text-align: center;
    }
  }


}
