.offer-img {

  &__content {
    width: max-content;

  }

  &__wrapper {
    max-width: 1037px;
    width: calc(100% - 620px);

    position: absolute;
    right: 0;
    top: 0;

    @media(max-width: 1024px) {
      display: none;
    }



  }
}


