.reviews-slider {

  &__slide {
    background-color: $white;
    display: flex;
    width: 759px;
    margin-left: 379.5px;
    padding: 40px;
    box-sizing: border-box;
    border-radius: 40px;
    column-gap: 23px;
    margin-bottom: 42px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);


    &::after {
      content: '';
      border-radius: 40px;
      background: $white;
      position: absolute;
      top: 17px;
      left: -20px;
      width: 799px;
      height: 286px;
      z-index: -1;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
    }

    &::before {
      content: '';
      border-radius: 40px;
      background: $white;
      position: absolute;
      top: 34px;
      left: -40px;
      width: 839px;
      height: 252px;
      z-index: -1;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      border-radius: 40px;
    }

  }

  &__column {
    max-width: 445px;

  }

  &__img {
    height: 240px;
    width: 100%;
    border-radius: 25px;
  }

  &__name {
    margin-bottom: 4px;
  }

  &__city {
    color: #2D2D2D;
    font-size: 18px;
    margin-bottom: 15px;
  }

  &__text {
    color: #2D2D2D;

  }
}
