.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0px;
}

.swiper-pagination-bullet {
  width: 61px;
  height: 18px;
  border-radius: 20px;
}

.swiper-button-prev {
  left: calc(50% - 507px);
  width: 47px;
  height: 72px;
  &::after {
    width: 47px;
    height: 72px;
    content: url('../img/svg/slider-button-prev.svg');
  }
}

.swiper-button-next {
  right: calc(50% - 507px);
  width: 47px;
  height: 72px;
  &::after {
    width: 47px;
    height: 72px;
    content: url('../img/svg/slider-button-next.svg');
  }
}
