@import "vendor/normalize.css";
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";


h1, h2, h3, h4 {
  color: $accent;
  margin: 0;
  padding: 0;
}

p, span {
  color: $white;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Russo one", sans-serif;
  font-size: 64px;
  line-height: 63px;
  color: $accent;
  margin-top: 0;
  margin-bottom: 14px;
  max-width: 599px;

  @media(max-width: 1024px) {
    font-size: 48px;
  }
}

.h2 {
  font-family: "Russo one", sans-serif;
  font-size: 36px;
  color: $white;

  &--blue {
    color: $accent;
  }

  &--grey {
    color: $white;
  }

  @media(max-width: 1024px) {
    font-size: 32px;
  }
}

.h3 {
  font-family: "Russo one", sans-serif;
  font-size: 24px;
  color: $accent;
  line-height: 1.2;

  @media(max-width: 1024px) {
    font-size: 20px;
  }

  &--white {
    color: $white;
  }

}

.text {
  font-family: "Open sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: $white;

  @media(max-width: 1024px) {
    font-size: 14px;
  }
}

.button {
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  cursor: pointer;
  background: $accent;
  border-radius: 50px;
  padding: 9px 34px;
  border: none;
  transition: 0.3s;

  @media(max-width: 1024px) {
    font-size: 18px;
  }

  &:hover {
    transition: 0.3s;
    background-color: #2E9BFF;
    color: #F8F8F8;
  }

  &:active {
    transition: 0.3s;
    background: #0085FF;
    color: #E2E2E2;
  }


  &--accent {
    font-family: "Russo one", sans-serif;
    font-size: 22px;
    color: $white;
    background: url('../img/svg/offer__button.svg');
    border-radius: 11px;
    padding: 15px 0;
    transition: 0.3s;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);

    @media(max-width: 1024px) {
      font-size: 18px;
    }



    &:hover {
      opacity: 0.95; transition: 0.3s;
    }
    &:active
    {opacity: 0.8; transition: 0.3s;
    }

  }
}

.accent {
  color: $accent;
}



@import "./components/header";
@import './components/container';
@import "./components/footer";

@import './pages/index-page';

@import "./blocks/logo";
@import "./blocks/contact";
@import "./blocks/page";
@import "./blocks/offer";
@import "blocks/offer-img";
@import "./blocks/perk";
@import "./blocks/cta";
@import "./blocks/price";
@import "./blocks/price-photo";
@import "./blocks/advantages";
@import "./blocks/advantage";
@import "./blocks/banner";
@import "./blocks/volume";
@import "./blocks/reviews";
@import "./blocks/reviews-slider";
@import "./blocks/swiper";
@import "./blocks/questions";
@import "./blocks/question";
@import "./blocks/order";
@import "./blocks/manager";
@import "./blocks/companies";
@import "./blocks/gift";
@import "./blocks/office";
